.root {
	width: 100%;
	position: fixed;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	span {
		color: var(--kuui-dominant-2);
	}
}
