.root {
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		width: 100%;
		max-width: 1170px;
		margin: 0 auto;

		.list {
			display: flex;
			gap: 24px;

			.listItem {
				list-style: none;

				a {
					text-decoration: none;
					color: var(--kuui-dominant-2);
					transition: all 200ms;

					&:hover {
						transition: all 200ms;
						color: var(--kuui-dominant-1);
					}
				}
			}
		}
	}
}
