.root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.wrapper__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		max-width: 360px;
		width: 100%;
		height: 300px;

		.fileAdd {
			border: 2px dashed gray;
			transition: all 300ms;

			&:hover {
				transition: all 300ms;
				border-color: transparent;
			}
		}

		.info {
			.title {
				user-select: none;
			}

			display: flex;
			gap: 8px;

			svg {
				cursor: pointer;

				circle {
					stroke: var(--kuui-black-250);
					fill: var(--kuui-black-250);
				}

				path {
					stroke: var(--kuui-black-250);
				}

				&:hover {
					circle {
						stroke: var(--kuui-dominant-1);
						fill: var(--kuui-dominant-1);
					}

					path {
						stroke: var(--kuui-dominant-1);
					}
				}
			}
		}
	}
}
