* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace !important;
}

*::-webkit-scrollbar-thumb {
	background-color: transparent;
}

body {
	background-color: var(--kuui-black-1000);
	overflow-x: hidden;

	&:hover {
		&::-webkit-scrollbar-thumb {
			background-color: var(--kuui-dominant-1);
		}
	}
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
